html {
    font-family: $police-font-text;
    line-height: normal;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $police-font-title;
}

h1 {
    font-size: $font-size-title;

    @include mode-desktop {
        font-size: $font-size-title-desktop;
    }
}

h2 {
    font-family: $police-font-text;
    font-size: 1.5rem;
    font-weight: 700;
    @include mode-desktop {
        font-size: $font-size-home-title-desktop;
    }
}

p {
    line-height: 2rem;
    font-size: 0.9rem;
    font-weight: 300;
}

h3 {
    font-family: $police-font-text;
    font-weight: 700;
}

.home-header__para {
    font-family: $police-font-text;
    font-size: $font-size-title-card;
    color: $gray-color;
    line-height: normal;
}

.menu__menu-title {
    margin-top: 2.6rem;
    font-weight: 300;
    font-family: $police-font-text;
    text-transform: uppercase;
    align-self: flex-start;

    &::after {
        content: "";
        margin-top: 0.5rem;
        display: block;
        width: 2.5rem;
        height: 0.1875rem;
        background-color: $green-color;
    }
}
