html {
    font-family: $police-font-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $police-font-title;
}

h1 {
    font-size: $font-size-title;

    @include mode-desktop {
        font-size: $font-size-title-desktop;
    }
}

p {
    line-height: 2rem;
}

h3 {
    font-family: $police-font-text;
    font-weight: 700;
}

button {
}
