@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
  background-color: #f6f6f6;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  color: black;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

.home-card__info__like {
  display: flex;
  justify-content: center;
  align-content: center;
}

html {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Shrikhand", serif;
}

h1 {
  font-size: 1.875rem;
}
@media (min-width: 1392px) {
  h1 {
    font-size: 2.8rem;
  }
}

p {
  line-height: 2rem;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.button-principal {
  font-size: 1rem;
  background: linear-gradient(0deg, #9356dc, #ff79da);
  padding: 0.81rem 1rem;
  color: white;
  border-radius: 1.5625rem;
  cursor: pointer;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.button-principal:hover {
  background: linear-gradient(0deg, #a16be0, #ff93e1);
  box-sizing: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.tag-new {
  font-size: 0.875rem;
  font-weight: 500;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 0.5rem;
  background: #99e2d0;
  border-radius: 0.125rem;
  color: #008766;
}

.home-card {
  border-radius: 0.93rem;
  width: 21.625rem;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (min-width: 1392px) {
  .home-card {
    width: 31.16544rem;
  }
}
.home-card__img {
  height: 14.4375rem;
  object-fit: cover;
  border-radius: 0.93rem 0.93rem 0 0;
}
@media (min-width: 1392px) {
  .home-card__img {
    width: 31.16544rem;
  }
}
.home-card__tag {
  position: absolute;
  top: 0.81rem;
  right: 0.76rem;
}
.home-card__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.home-card__info__infos {
  flex-direction: column;
  justify-content: space-between;
}
.home-card__info__like {
  position: relative;
}
.home-card__info__like__heart {
  display: block;
}
.home-card__info__like__heart-full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 200ms;
}
.home-card__info__like__heart-full:hover {
  opacity: 1;
}

.color-heart {
  background-color: #9356dc;
  background-image: linear-gradient(180deg, #9356dc, #ff79da);
  background-size: 100%;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/*# sourceMappingURL=style.css.map */
