@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
html {
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
  background-color: #f6f6f6;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  color: black;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

.loader, .menu__title__like, .choise-resto__card, .info-fonction__card, .location, .hero-header, .home-card__info__like {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-image-francais, .bg-image-delice, .bg-image-note, .bg-image-palette {
  width: 100%;
  height: 17.1875rem;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 1440px) {
  .bg-image-francais, .bg-image-delice, .bg-image-note, .bg-image-palette {
    height: 23.9375rem;
  }
}

html {
  font-family: "Roboto", sans-serif;
  line-height: normal;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Shrikhand", serif;
}

h1 {
  font-size: 1.875rem;
}
@media screen and (min-width: 1440px) {
  h1 {
    font-size: 2.8rem;
  }
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}
@media screen and (min-width: 1440px) {
  h2 {
    font-size: 2.5rem;
  }
}

p {
  line-height: 2rem;
  font-size: 0.9rem;
  font-weight: 300;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.home-header__para {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  color: #7e7e7e;
  line-height: normal;
}

.menu__menu-title {
  margin-top: 2.6rem;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  align-self: flex-start;
}
.menu__menu-title::after {
  content: "";
  margin-top: 0.5rem;
  display: block;
  width: 2.5rem;
  height: 0.1875rem;
  background-color: #99e2d0;
}

.button-principal {
  position: relative;
  font-size: 1rem;
  background: linear-gradient(0deg, #9356dc, #ff79da);
  padding: 1rem 1rem;
  color: white;
  border-radius: 1.5625rem;
  z-index: 1;
  cursor: pointer;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  transition: box-shadow 300ms ease-in;
}
.button-principal:hover {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
}
.button-principal:hover::after {
  opacity: 1;
}
.button-principal::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1.5625rem;
  background: linear-gradient(0deg, #a16be0 0%, #fface8 100%);
  opacity: 0;
  z-index: -1;
  transition: opacity 200ms ease-in;
}

.tag-new {
  font-size: 0.875rem;
  font-weight: 500;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 0.5rem;
  background: #99e2d0;
  border-radius: 0.125rem;
  color: #008766;
}

.home-card {
  border-radius: 0.93rem;
  width: 100%;
  min-width: 21.3rem;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  transition: box-shadow 300ms;
  opacity: 0;
}
.home-card:hover {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
}
@media screen and (min-width: 1440px) {
  .home-card {
    width: 100%;
    max-width: 31rem;
  }
}
.home-card__img {
  height: 14.4375rem;
  object-fit: cover;
  border-radius: 0.93rem 0.93rem 0 0;
  width: 100%;
}
@media screen and (min-width: 1440px) {
  .home-card__img {
    width: 100%;
  }
}
.home-card__tag {
  position: absolute;
  top: 0.81rem;
  right: 0.76rem;
}
.home-card__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.home-card__info__infos {
  flex-direction: column;
  justify-content: space-between;
}
.home-card__info__like {
  position: relative;
  width: 1.375rem;
  height: 1.3125rem;
}
.home-card__info__like__hollow {
  position: relative;
  width: 1.375rem;
  height: 1.3125rem;
}
.home-card__info__like__full {
  position: absolute;
  top: 0;
  opacity: 0;
  width: 1.375rem;
  height: 1.3125rem;
  transition: opacity 300ms ease-in-out;
}
.home-card__info__like__full:hover {
  opacity: 1;
}

.home-card:nth-child(1) {
  animation: fade-in 300ms 2s ease-in forwards;
}

.home-card:nth-child(2) {
  animation: fade-in 300ms 2.3s ease-in forwards;
}

.home-card:nth-child(3) {
  animation: fade-in 300ms 2.6s ease-in forwards;
}

.home-card:nth-child(4) {
  animation: fade-in 300ms 2.9s ease-in forwards;
}

.menu-card {
  display: flex;
  width: 100%;
  height: 4.3125rem;
  position: relative;
  overflow: hidden;
  border-radius: 0.94019rem;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  transition: box-shadow 300ms;
}
.menu-card:hover {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
}
@media screen and (min-width: 1440px) {
  .menu-card {
    width: 100%;
  }
}
.menu-card__info {
  padding: 0.94rem;
  background-color: white;
  width: 100%;
  overflow: hidden;
  transition: padding-right 200ms ease-in-out;
  will-change: transform;
}
.menu-card__info h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-card__info p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-card__price {
  background-color: white;
  padding-bottom: 0.94rem;
  padding-right: 0.94rem;
  display: flex;
  align-items: end;
  font-weight: 700;
  transition: padding-right 200ms ease-in-out;
}
.menu-card__check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.6875rem;
  background-color: #99e2d0;
  cursor: pointer;
  transform: translateX(100%);
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}
.menu-card__check i {
  color: white;
  font-size: 1.7rem;
}
.menu-card:hover .menu-card__check {
  transform: translateX(0);
  opacity: 1;
}
.menu-card:hover .menu-card__price {
  padding-right: 4.6875rem;
}

.fonction-card {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  width: 100%;
  min-width: 10rem;
  height: 4.52369rem;
  border-radius: 1.25rem;
  gap: 1.44rem;
  margin-left: 0.7rem;
  display: flex;
  position: relative;
  align-items: center;
  padding: 1.79rem;
  transition: box-shadow 300ms;
  opacity: 0;
}
.fonction-card:hover {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
}
.fonction-card__number {
  position: absolute;
  left: -10px;
  top: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 999999rem;
  width: 1.5rem;
  height: 1.5rem;
  color: white;
  background-color: #9356dc;
}
.fonction-card__number i {
  color: #7e7e7e;
  font-size: 1.5rem;
}
.fonction-card__number--purple {
  color: #9356dc;
}

.fonction-card:nth-child(1) {
  animation: fade-in 300ms 2s ease-in forwards;
}

.fonction-card:nth-child(2) {
  animation: fade-in 300ms 2.3s ease-in forwards;
}

.fonction-card:nth-child(3) {
  animation: fade-in 300ms 2.6s ease-in forwards;
}

.hero-header {
  height: 7.0625rem;
  background-color: white;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
.hero-header__callback {
  position: absolute;
  left: 1rem;
  font-size: 1rem;
  will-change: transform;
  animation: beat 1s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate;
}
.hero-header__callback:hover {
  animation-play-state: paused;
}
@media screen and (min-width: 1440px) {
  .hero-header__callback {
    font-size: 1.5rem;
  }
}

.location {
  background-color: #eaeaea;
  height: 3.125rem;
  gap: 1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.home-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 4rem 1rem;
  height: 17.875rem;
  gap: 1.6rem;
  margin: 0 auto;
}
@media screen and (min-width: 1440px) {
  .home-header {
    max-width: 1440px;
  }
}
@media screen and (min-width: 768px) {
  .home-header {
    padding: 3.1rem 10rem;
  }
}

.info-fonction {
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 350px 0 0 0 white, -350px 0 0 0 white;
  gap: 1.5rem;
  padding: 3rem 1rem 4rem 1rem;
  margin: 0 auto;
}
.info-fonction i {
  color: #7e7e7e;
}
.info-fonction .info-fonction__card--purple {
  color: #9356dc;
}
@media screen and (min-width: 1440px) {
  .info-fonction {
    padding: 3.1rem 31rem;
    max-width: 1440px;
  }
}
@media screen and (min-width: 768px) {
  .info-fonction {
    padding: 3.1rem 10rem;
  }
}
@media screen and (min-width: 1440px) {
  .info-fonction__title {
    font-size: 1.5rem;
  }
}
.info-fonction__card {
  width: 100%;
  flex-direction: column;
  gap: 1.25rem;
}
@media screen and (min-width: 1440px) {
  .info-fonction__card {
    flex-direction: row;
    gap: 2.28rem;
  }
}

.choise-resto {
  padding: 3rem 1rem 4rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin: 0 auto;
}
@media screen and (min-width: 1440px) {
  .choise-resto {
    max-width: 1440px;
  }
}
@media screen and (min-width: 768px) {
  .choise-resto {
    padding: 3.1rem 10rem;
  }
}
@media screen and (min-width: 1440px) {
  .choise-resto__title {
    font-size: 1.5rem;
  }
}
.choise-resto__card {
  flex-direction: column;
  width: 100%;
  gap: 1.25rem;
}
@media screen and (min-width: 1440px) {
  .choise-resto__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    row-gap: 3.12rem;
    column-gap: 6.25rem;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.3rem 1.5rem;
  background-color: #353535;
  color: white;
}
@media screen and (min-width: 1440px) {
  .footer {
    flex-direction: row-reverse;
    padding: 1.875rem 1.5625rem;
    gap: 3rem;
  }
}
.footer__title {
  font-size: 1.125rem;
}
.footer__link {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media screen and (min-width: 1440px) {
  .footer__link {
    flex-direction: row;
    gap: 1rem;
  }
}
.footer__link i {
  margin-right: 1rem;
  display: inline-block;
  width: 0.74488rem;
  height: 0.8125rem;
}
.footer__link a {
  color: white;
}
.footer__link a:hover {
  color: #ff79da;
}

@keyframes textShine {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    position: absolute;
    top: -999999px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes fade-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

main {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg-image-palette {
  background-image: url("/assets/style/images/restaurant/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.bg-image-note {
  background-image: url("/assets/style/images/restaurant/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.bg-image-delice {
  background-image: url("/assets/style/images/restaurant/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.bg-image-francais {
  background-image: url("/assets/style/images/restaurant/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 4rem 4rem 0 0;
  padding: 4rem 1rem 0 1rem;
  box-shadow: 0px 50px 0px 0px #f6f6f6;
  transform: translateY(-3.4rem);
}
@media screen and (min-width: 1440px) {
  .menu {
    padding: 4rem 18rem 0 18rem;
    width: 65.9375rem;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    padding: 4rem 10rem 0 10rem;
  }
}
.menu__title {
  font-size: 1.875rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (min-width: 1440px) {
  .menu__title {
    justify-content: center;
    gap: 1.5rem;
  }
}
.menu__title__like {
  cursor: pointer;
  width: 1.375rem;
  height: 1.3125rem;
  will-change: transform;
}
.menu__title__like__hollow {
  position: relative;
  width: 1.375rem;
  height: 1.3125rem;
}
.menu__title__like__full {
  position: absolute;
  top: 0;
  opacity: 0;
  width: 1.375rem;
  height: 1.3125rem;
  transition: opacity 300ms ease-in, transform 300ms 300ms ease-in-out;
}
.menu__title__like__full:hover {
  opacity: 1;
}
.menu__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.75rem;
}
.menu__section__entrees {
  opacity: 0;
  animation: fade-in-right 300ms ease-in forwards;
}
.menu__section__plats {
  opacity: 0;
  animation: fade-in-left 300ms 0.3s ease-in forwards;
}
.menu__section__desserts {
  opacity: 0;
  animation: fade-in-right 300ms 0.6s ease-in forwards;
}
.menu .button-principal {
  margin-top: 2.5rem;
}

/* Styles pour le loader */
body {
  position: relative;
}

.loader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: #f6f6f6;
  animation: fade-out 500ms 2s ease-out forwards;
}
.loader__text {
  font-family: "Shrikhand", serif;
  font-size: 1.875rem;
  background: linear-gradient(to right, #9356dc 20%, #ff79da 30%, #ff79da 70%, #9356dc 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 1s infinite ease-in-out alternate;
  will-change: font-family;
}
@media screen and (min-width: 1440px) {
  .loader__text {
    font-size: 2.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
