// mes variables pour le projet 4 oc "Ohmyfood"

// importation de mes google font :
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
// mes polices d'écritures :
$police-font-title: "Shrikhand", serif;
$police-font-text: "Roboto", sans-serif;

// les couleurs de mon site
// les couleurs principaux :
$background: #f6f6f6;
$primary-color: #9356dc;
$secondary-color: #ff79da;
$gray-color: #7e7e7e;
$gray2-color: #eaeaea;
$green-color: #99e2d0;
$green-font: #008766;
$bleu-color: #89c8fa;
$bleu2-color: #003a68;
$btn-gradient-color: linear-gradient(0deg, $primary-color, $secondary-color);
$btn-gradient-color-hover: linear-gradient(
    0deg,
    lighten($primary-color, 5%),
    lighten($secondary-color, 5%)
);
// box-shadow
$shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
$shadow-header: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
$shadow-hover: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);

// la taile de mes text
$font-size-title: 1.875rem;
$font-size-title-desktop: 2.8rem;
$font-size-home-title-desktop: 2.5rem;
$font-size-btn-principal: 1rem;
$font-size-title-card: 1.125rem;
