.hero-header {
    height: 7.0625rem;
    background-color: white;
    @extend %center-element;
    position: relative;
    box-shadow: $shadow-header;

    &__callback {
        position: absolute;
        left: 1rem;
        font-size: 1.7rem;
    }
}

.location {
    background-color: $gray2-color;
    height: 3.125rem;
    @extend %center-element;
    gap: 1rem;
    box-shadow: $shadow-header;
}

.home-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 4rem;
    height: 17.875rem;
    gap: 1.6rem;
}

.info-fonction {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 3rem 1.25rem 4.25rem 2rem;

    @include mode-desktop {
        padding: 3.125rem 11.25rem;
    }

    &__title {
        align-self: flex-start;

        @include mode-desktop {
            font-size: 1.5rem;
        }
    }

    &__card {
        @extend %center-element;
        flex-direction: column;
        gap: 1.25rem;

        @include mode-desktop {
            flex-direction: row;
            gap: 2.28rem;
        }
    }
}

.choise-resto {
    padding: 3rem 1rem 4rem 1rem;
    @extend %center-element;
    flex-direction: column;
    gap: 1.6rem;

    @include mode-desktop {
        padding: 3.125rem 11.25rem;
    }

    &__title {
        align-self: flex-start;

        @include mode-desktop {
            font-size: 1.5rem;
        }
    }

    &__card {
        @extend %center-element;
        flex-direction: column;
        gap: 1.25rem;

        @include mode-desktop {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            row-gap: 3.12rem;
            column-gap: 6.25rem;
        }
    }
}
