.hero-header {
    height: 7.0625rem;
    background-color: white;
    @extend %center-element;
    position: relative;
    box-shadow: $shadow-header;

    &__callback {
        position: absolute;
        left: 1rem;
        font-size: 1rem;
        will-change: transform;
        animation: beat 1s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite
            alternate;
        @extend %anim-beat;

        &:hover {
            animation-play-state: paused;
        }

        @include mode-desktop {
            font-size: 1.5rem;
        }
    }
}

.location {
    background-color: $gray2-color;
    height: 3.125rem;
    @extend %center-element;
    gap: 1rem;
    box-shadow: $shadow-header;
}

.home-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 4rem 1rem;
    height: 17.875rem;
    gap: 1.6rem;
    margin: 0 auto;

    @include mode-desktop {
        max-width: 1440px;
    }

    @include mode-tablette {
        padding: 3.1rem 10rem;
    }
}

.info-fonction {
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 350px 0px 0px 0px #ffffff, -350px 0px 0px 0px #ffffff;
    gap: 1.5rem;
    padding: 3rem 1rem 4rem 1rem;
    margin: 0 auto;

    i {
        color: $gray-color;
    }
    .info-fonction__card--purple {
        color: $primary-color;
    }

    @include mode-desktop {
        padding: 3.1rem 31rem;
        max-width: 1440px;
    }

    @include mode-tablette {
        padding: 3.1rem 10rem;
    }

    &__title {
        // transform: translateX(-rem);

        @include mode-desktop {
            // transform: translateX(-28rem);
            font-size: 1.5rem;
        }
    }

    &__card {
        @extend %center-element;
        width: 100%;
        flex-direction: column;
        gap: 1.25rem;

        @include mode-desktop {
            flex-direction: row;
            gap: 2.28rem;
        }
    }
}

.choise-resto {
    padding: 3rem 1rem 4rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin: 0 auto;

    @include mode-desktop {
        max-width: 1440px;
    }

    @include mode-tablette {
        padding: 3.1rem 10rem;
    }

    &__title {
        @include mode-desktop {
            font-size: 1.5rem;
        }
    }

    &__card {
        @extend %center-element;
        flex-direction: column;
        width: 100%;
        gap: 1.25rem;

        @include mode-desktop {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            justify-items: center;
            row-gap: 3.12rem;
            column-gap: 6.25rem;
        }
    }
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.3rem 1.5rem;
    background-color: $footer-color;
    color: white;

    @include mode-desktop {
        flex-direction: row-reverse;
        padding: 1.875rem 1.5625rem;
        gap: 3rem;
    }

    &__title {
        font-size: $font-size-title-card;
    }

    &__link {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        @include mode-desktop {
            flex-direction: row;
            gap: 1rem;
        }
    }

    &__link i {
        margin-right: 1rem;
        display: inline-block;
        width: 0.74488rem;
        height: 0.8125rem;
    }

    &__link a {
        color: white;

        &:hover {
            color: $secondary-color;
        }
    }
}
