main {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-header i {
    animation: beat 1s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate;
    @extend %anim-beat;

    &:hover {
        animation-play-state: paused;
    }
}

.bg-image-palette {
    background-image: url("/assets/style/images/restaurant/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    @extend %bg-image;
}

.bg-image-note {
    background-image: url("/assets/style/images/restaurant/stil-u2Lp8tXIcjw-unsplash.jpg");
    @extend %bg-image;
}

.bg-image-delice {
    background-image: url("/assets/style/images/restaurant/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    @extend %bg-image;
}

.bg-image-francais {
    background-image: url("/assets/style/images/restaurant/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    @extend %bg-image;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $background;
    border-radius: 4rem 4rem 0 0;
    padding: 4rem 1rem 0 1rem;
    box-shadow: 0px 50px 0px 0px $background;
    transform: translateY(-3.4rem);

    @include mode-desktop {
        padding: 4rem 18rem 0 18rem;
        width: 65.9375rem;
    }

    @include mode-tablette {
        padding: 4rem 10rem 0 10rem;
    }

    &__title {
        font-size: $font-size-title;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        @include mode-desktop {
            justify-content: center;
            gap: 1.5rem;
        }

        &__like {
            @extend %center-element;
            cursor: pointer;
            width: 1.375rem;
            height: 1.3125rem;
            will-change: transform;

            &__hollow {
                position: relative;
                width: 1.375rem;
                height: 1.3125rem;
            }

            &__full {
                position: absolute;
                top: 0;
                opacity: 0;
                width: 1.375rem;
                height: 1.3125rem;
                transition: opacity 300ms ease-in,
                    transform 300ms 300ms ease-in-out;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 0.75rem;

        &__entrees {
            opacity: 0;
            animation: fade-in-right 500ms 2s ease-in forwards;
            @extend %anim-fade-in-right;
        }

        &__plats {
            opacity: 0;
            animation: fade-in-left 500ms 2.5s ease-in forwards;
            @extend %anim-fade-in-left;
        }

        &__desserts {
            opacity: 0;
            animation: fade-in-right 500ms 3s ease-in forwards;
            @extend %anim-fade-in-right;
        }
    }

    .button-principal {
        margin: 2.5rem 0 0 0;
    }
}
