.button-principal {
    @include btn-principal;
}

.tag-new {
    font-size: 0.875rem;
    font-weight: 500;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 0.5rem;
    background: $green-color;
    border-radius: 0.125rem;
    color: $green-font;
}

.home-card {
    border-radius: 0.93rem;
    width: 21.625rem;
    box-shadow: $shadow-hover;
    display: flex;
    flex-direction: column;
    position: relative;

    @include mode-desktop {
        width: 31.16544rem;
    }

    &__img {
        height: 14.4375rem;
        object-fit: cover;
        border-radius: 0.93rem 0.93rem 0 0;

        @include mode-desktop {
            width: 31.16544rem;
        }
    }

    &__tag {
        position: absolute;
        top: 0.81rem;
        right: 0.76rem;
    }

    &__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;

        &__infos {
            flex-direction: column;
            justify-content: space-between;
        }

        &__like {
            @extend %center-element;
            position: relative;
        }
    }
}

/* Cacher la case à cocher par défaut */
input[type="checkbox"] {
    display: none;
}

/* Créer un style personnalisé pour la case à cocher */
label {
    display: inline-block;
    width: 1.375rem;
    height: 1.3125rem;
    background-image: url("/assets/style/images/logo/heart-hollow.png"); /* Remplacez 'votre-image.png' par le chemin de votre image */
    background-size: cover;
    cursor: pointer;
    transition: background-image 0.3s ease;
}

/* Style lorsque la case à cocher est cochée */
input[type="checkbox"]:checked + label {
    background-image: url("/assets/style/images/logo/heart-full.png"); /* Remplacez 'votre-image-cochée.png' par le chemin de votre image cochée */
}
