.button-principal {
    @include btn-principal;
}

.tag-new {
    font-size: 0.875rem;
    font-weight: 500;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 0.5rem;
    background: $green-color;
    border-radius: 0.125rem;
    color: $green-font;
}

.home-card {
    border-radius: 0.93rem;
    width: 21.625rem;
    box-shadow: $shadow-hover;
    display: flex;
    flex-direction: column;
    position: relative;

    @include mode-desktop {
        width: 31.16544rem;
    }

    &__img {
        height: 14.4375rem;
        object-fit: cover;
        border-radius: 0.93rem 0.93rem 0 0;

        @include mode-desktop {
            width: 31.16544rem;
        }
    }

    &__tag {
        position: absolute;
        top: 0.81rem;
        right: 0.76rem;
    }

    &__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;

        &__infos {
            flex-direction: column;
            justify-content: space-between;
        }

        &__like {
            @extend %center-element;
            position: relative;
            width: 1.375rem;
            height: 1.3125rem;
        }
    }
}

input[type="checkbox"] {
    display: none;
}

label {
    display: inline-block;
    width: 1.375rem;
    height: 1.3125rem;
    background-image: url("/assets/style/images/logo/heart-hollow.png");
    background-size: cover;
    cursor: pointer;
    transition: background-image 200ms ease;
}

input[type="checkbox"]:checked + label {
    background-image: url("/assets/style/images/logo/heart-full.png");
}

.menu-card {
    display: flex;
    width: 21.8125rem;
    height: 4.3125rem;
    position: relative;
    overflow: hidden;
    border-radius: 0.94019rem;
    box-shadow: $shadow;
    cursor: pointer;

    @include mode-desktop {
        width: 31.16544rem;
    }

    &__info {
        position: absolute; /* Ajout de cette ligne */
        top: 0; /* Ajout de cette ligne */
        left: 0; /* Ajout de cette ligne */
        right: 0; /* Ajout de cette ligne */
        bottom: 0; /* Ajout de cette ligne */
        padding: 0.94rem;
        background-color: white;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__price {
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: white;
        padding: 0.94rem;
        display: flex;
        align-items: end;
        font-weight: 700;
    }

    &__check {
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.6875rem;
        background-color: $green-color;
        transform: translateX(100%);

        i {
            color: white;
            font-size: 1.2rem;
        }
    }
}
